/* Style global : 
        ==> Pëoblème majeur, les tailles de police, c'est la merde, la grosse merde, rien ne va !
        */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Futura-PT", sans-serif;
          }
          
          body {
            background-color: #ffffff;
            color: #000000;
          }
          
          p {
            font-style: normal;
            font-size: 20px;  
          }
          
          /* Styles des titres */
          .titre-1-classic {
            font-style: normal;
            font-size: 26px; /* Réduit de 32px à 26px pour correspondre au H1 de la navbar */
          }
          
          .titre-2-classic {
            font-style: normal;
            font-size: 20px; /* Réduit de 24px à 20px */
          }
          
          .titre-3-classic {
            font-style: normal;
            font-size: 16px; /* Réduit de 20px à 16px */
          }
          
          /* Style de la barre de navigation */
              /* Navbar globale */
.custom-navbar {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  height: 32px;
  margin-right: 8px;
}

#fast-n-friends {
  font-size: 30px;
  font-weight: bold;
  font-family: MuseoModerno;
  text-decoration: none;
  color: #4B9BEB;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.nav-links img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 5px;
}

.btn-primary {
  background-color: #4B9BEB;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #4B9BEB;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger img {
  width: 24px;
  height: 24px;
}


/* Menu déroulant compte */
.account-icon {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.account-icon:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  transition: background 0.3s;
}

.dropdown-menu li a:hover {
  background: #f0f0f0;
  color: #000;
}

.dropdown-menu li img {
  width: 20px;
  height: 20px;
}

/* Responsive */
/* Masquer le menu hamburger sur les grands écrans (pc) */
.hamburger {
  display: none;
}

/* Afficher le menu hamburger sur les petits écrans */
@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .nav-links {
      display: none; /* Masquer les liens de navigation par défaut sur mobile */
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px;
      z-index: 10;
      visibility: hidden;
      transform: translateY(-20px);
      transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
  }

  /* Lorsque le menu hamburger est ouvert */
  .nav-links.show {
      display: flex;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }

  /* Pour le sous-menu de "Mon Compte" dans le hamburger */
  .account-icon .dropdown-menu {
      display: none; /* Masquer le sous-menu par défaut */
  }

  .account-icon.show-dropdown .dropdown-menu {
      display: block; /* Afficher le sous-menu "Mon Compte" dans le hamburger */
  }

    .account-icon .dropdown-menu {
        position: static;  /* Remove absolute positioning */
        display: none;
        width: 100%;
        box-shadow: none;
        border: none;
        background: #f9f9f9;
      }

    .account-icon.show-dropdown .dropdown-menu {
        display: block;
    
}
}
  
          
          
          /* Bloc 1 : Titre et description */
          .intro {
            text-align: center;
            background-color: #4B9BEB;
            font-size: 1.25rem; /* Réduit de 24px à 20px */
            padding: 1.875rem 0.9375rem; /* Réduit de 40px 20px à 30px 15px */
          }
          
          .intro p {
            font-size: 1rem; /* Réduit de 20px à 16px */
            color: #000000;
          }
          
          .intro h1 {
            font-size: 1.625rem; /* Réduit de 24px à 20px */
            color: #000000;
            font-style: normal;
            margin-bottom: 1.875rem;
          }
          
          
          
          
          
          
          /*PARTIE BLOC 2 : IMAGE ET BARRE DE RECHERCHE*/
          
          .search-section {
            background-color: #4B9BEB;
            padding: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .search-container {
            width: 100%;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: #333;
            background-color: rgb(255, 255, 255); /* ==> normalement à supprimer, juste pour prévisualiser le contenait de recherche*/
            max-width: 600px; /* Augmentation de la largeur maximale du conteneur */
            width: 100%; /* Le conteneur prend toute la largeur disponible */
            padding: 2rem; /* Réduction du padding pour un rendu plus compact */
          }
          
          .search-form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
          }
          
          .form-group {
            display: flex;
            flex-direction: column;
          }
          
          .form-group label {
            font-size: 0.875rem;
            margin-bottom: 0.5rem;
          }
          
          .form-group input {
            padding: 0.75rem 1rem;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
          }
          
          .search-button {
            grid-column: 1 / -1;
            padding: 1rem 2rem;
            background-color: #4B9BEB;
            color: #fff;
            border: none;
            border-radius: 5px;
            font-size: 1.2rem;
            cursor: pointer;
          }
          
          .search-button:hover {
            background-color: #2b7aca;
          }
          
          .note {
            margin-top: 1rem;
            font-size: 0.875rem;
            color: rgba(0, 0, 0, 0.5);
          }
          
          .image-container {
            flex: 0 0 40%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .image-container img {
            max-width: 100%;
            height: auto;
            max-height: 400px;
            object-fit: contain;
          }
          
          
          
          /* Bloc 3 : Titre et chiffre */
          .stats {
            text-align: center;
            padding: 45px 15px; /* Réduit de 60px 20px à 45px 15px */
          }
          
          .stats h1 {
            font-size: 26px; /* Réduit de 24px à 20px */
            color: #000000;
            margin-bottom: 16px; /* Réduit de 20px à 16px */
          }
          
          .stats .number {
            font-size: 190px; /* Réduit de 96px à 72px */
            color: #000000;
            margin-bottom: 8px; /* Réduit de 10px à 8px */
          }
          
          .stats p {
            font-size: 16px;
            color: #000000;
          }
          
          /*Bloc 4 : Les cartes*/
          .lescardsecolos {
            text-align: center;
            background-color: #ffffff;
            padding: 30px 15px;
          }
          
          .lescardsecolos p {
            font-size: 16px; 
            color: #000000;
          }
          
          .lescardsecolos h1 {
            font-size: 26px; 
            color: #000000;
            font-style: normal;
            margin-bottom: 30px;
          }

          .card-wrapper {
            max-width: 1200px;
            margin: 0 auto;
            margin-bottom: 2rem;
        }
    
        .fond-card-1, .fond-card-1-miroir {
            background-color: #ffffff;
            width: 100%;
            position: relative;
            min-height: 293px;
            overflow: hidden;
            opacity: 0; /* initially hidden */
        }
    
        .fond-card-2, .fond-card-2-miroir {
            background-color: #C8C6F5;
            width: 75%;
            height: 100%;
            position: absolute;
            top: 0;
            display: flex;
            align-items: center;
        }
    
        .fond-card-2-image {
            max-width: 50%;
            height: 80%;
            object-fit: cover;
        }
    
        .fond-card-2-miroir-image {
            max-width: 50%;
            height: 80%;
            object-fit: cover;
            margin-left: auto;
        }
    
        .forme-card-bleue, .forme-card-bleue-miroir {
            background-color: #6cbbfc;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 1rem;
        }
    
        /* Desktop Styles */
        @media screen and (min-width: 992px) {
            .fond-card-1 .fond-card-2 {
                left: 0;
                justify-content: flex-start;
            }
    
            .fond-card-1 .forme-card-bleue {
                width: 60%;
                height: 60%;
                right: 0;
                border-top-left-radius: 30px;
                border-bottom-left-radius: 70px;
            }
    
            .fond-card-1-miroir .fond-card-2-miroir {
                right: 0;
                justify-content: flex-end;
            }
    
            .fond-card-1-miroir .forme-card-bleue-miroir {
                width: 60%;
                height: 60%;
                left: 0;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 70px;
            }
        }
    
        /* Mobile Styles */
        @media screen and (max-width: 991px) {
            .fond-card-2-image, .fond-card-2-miroir-image {
                max-width: 100%;
                height: 100%;
                margin: 0;
                object-fit: cover;
            }
        }
    
        @media screen and (max-width: 991px) {
            .fond-card-1, .fond-card-1-miroir {
                min-height: auto;
                display: flex;
                flex-direction: column;
            }
    
            .fond-card-2, .fond-card-2-miroir {
                position: relative;
                width: 100%;
                height: 200px;
            }
    
            .fond-card-2-image, .fond-card-2-miroir-image {
                max-width: 100%;
                height: 100%;
                margin: 0;
                object-fit: cover;
            }
    
            .forme-card-bleue, .forme-card-bleue-miroir {
                width: 100%;
                height: auto;
                position: relative;
                top: 0;
                transform: none;
                padding: 1rem;
            }
    
            .h2-cards, .h2-cards-miroir {
                position: static;
                margin-bottom: 0.5rem;
            }
        }
         
          
          /*Bloc 5 : Pourquoi nous ?*/
          .why-us {
            text-align: center;
            background-color: #4B9BEB;
            padding: 30px 15px;
          }
          
          .why-us p {
            font-size: 16px; /* Réduit de 20px à 16px */
            color: #000000;
          }
          
          .why-us h1 {
            font-size: 26px; /* Réduit de 24px à 20px */
            color: #000000;
            font-style: normal;
            margin-bottom: 30px;
          }


                    /* Partie FAQ*/
                    .faq-btn {
                      width: 100%;
                          display: flex;
                          justify-content: space-between; 
                          align-items: center; 
                          padding: 12px 20px;
                          border-radius: 20px; 
                          background-color: #699ed7; 
                          color: #fff;
                          font-size: 16px;
                          font-weight: 500;
                          text-align: left; 
                          border: none;
                          cursor: pointer;
                      }
                      .collapse-container {
                          width: 100%; 
                          max-width: 600px; 
                      }
              .faq-btn:hover {
                  background-color: #0056b3;
              }
              .Plus-icon {
                          font-size: 18px; 
                          font-weight: bold;
                      }
              
                      .button-spacing {
                          margin-bottom: 15px;
                      }
              
                      .collapse-content {
                          margin-top: 10px;
                          padding: 15px;
                          border: 1px solid #ddd;
                          border-radius: 10px;
                          background-color: #ffffff;
                          margin-bottom: 15px;
                      }
    
          
          /*Bloc 6 */
          .bloc6 {
            text-align: center;
            background-color: #ffffff;
            padding: 30px 15px;
          }
          
          .bloc6 p {
            font-size: 16px; 
            color: #000000;
          }
          
          .bloc6 h1 {
            font-size: 26px; 
            color: #000000;
            font-style: normal;
            margin-bottom: 30px;
          }
          
          /*
          
          STYLE POUR LE FICHIER, LA PAGE D'INSCRIPTION !
          
          */
          
          /* Style général pour le formulaire */
          .inscription-form {
              max-width: 600px;
              margin: 0 auto;
              padding: 20px;
              background-color: #f9f9f9; /* Fond clair */
              border: 1px solid #ddd; /* Bordure légère */
              border-radius: 10px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
              font-family: Arial, sans-serif;
          }
          
          .inscription-form h2 {
              text-align: center;
              color: #333;
              margin-bottom: 20px;
          }
          
          /* Style des champs */
          .inscription-form label {
              display: block;
              margin-bottom: 5px;
              font-weight: bold;
              color: #555;
          }
          
          .inscription-form input[type="text"],
          .inscription-form input[type="email"],
          .inscription-form input[type="password"],
          .inscription-form input[type="tel"],
          .inscription-form input[type="date"],
          .inscription-form textarea,
          .inscription-form select {
              width: 100%;
              padding: 10px;
              margin-bottom: 15px;
              border: 1px solid #ccc;
              border-radius: 5px;
              font-size: 14px;
              box-sizing: border-box;
              background-color: #fff;
              transition: border-color 0.2s;
          }
          
          .inscription-form input[type="text"]:focus,
          .inscription-form input[type="email"]:focus,
          .inscription-form input[type="password"]:focus,
          .inscription-form input[type="tel"]:focus,
          .inscription-form input[type="date"]:focus,
          .inscription-form textarea:focus {
              border-color: #007BFF;
              outline: none;
          }
          
          /* Style des boutons radio et cases à cocher */
          .inscription-form input[type="radio"],
          .inscription-form input[type="checkbox"] {
              margin-right: 10px;
          }
          
          .inscription-form div {
              margin-bottom: 15px;
          }
          
          /* Style du bouton */
          .inscription-form input[type="submit"] {
              width: 100%;
              padding: 12px;
              background-color: #4B9BEB; /* Bleu */
              color: #fff;
              border: none;
              border-radius: 5px;
              font-size: 16px;
              font-weight: bold;
              cursor: pointer;
              transition: background-color 0.3s;
          }
          
          .inscription-form input[type="submit"]:hover {
              background-color: #4B9BEB;
          }
          
          /* Style pour les messages d'erreur */
          .error-message {
              color: #d9534f;
              background-color: #4B9BEB;
              border: 1px solid #ebccd1;
              padding: 10px;
              margin-bottom: 15px;
              border-radius: 5px;
              text-align: center;
          }
          
          /* Style du textarea */
          .inscription-form textarea {
              height: 100px;
              resize: vertical;
          }
          
          /* Style spécifique à la photo de profil */
          .inscription-form input[type="file"] {
              margin-top: 10px;
          }
          
          /* Style des conditions et newsletter */
          .inscription-form div:last-child {
              display: flex;
              flex-direction: column;
              gap: 10px;
              font-size: 14px;
          }
          
          /* Alignement des genres */
          .inscription-form div input[type="radio"] {
              margin: 0;
              margin-right: 5px;
          }
          

          /*Les résultats de recherches ;*/
            .container {
              margin-top: 5rem;
            }

            /* Carte */
            .card {
              box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            }
            .card-header {
              background-color: #4B9BEB;
              text-align: center;
            }
            .card-header h2 {
              color: #000;
              font-size: 30px;
              margin-bottom: 0;
            }

            /* Corps de la carte */
            .card-body {
              font-size: 18px;
            }

            /* Colonnes de texte */
            .col-left {
              font-weight: bold; /* Texte en gras à gauche */
              text-align: right; /* Alignement à droite */
            }
            .col-right {
              font-weight: normal; /* Texte normal à droite */
              text-align: left; /* Alignement à gauche */
            }

      /* STYLE POUR LA PAGE DE recherches profondes ==> same base que sur l'accueil, mais quelques ajouts / deep search*/
      /* Overlay */
.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Masquer par défaut */
.hidden {
  display: none;
}

/* Modal */
.filter-modal {
  background-color: white;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* En-tête */
.filter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #eee;
}

.filter-header h2 {
  font-size: 18px;
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

/* Corps */
.filter-body {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}

.filter-options label {
  display: block;
  margin-bottom: 10px;
}

/* Pied de page */
.filter-footer {
  padding: 15px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
}

.search-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}



/* STYLE POUR LA PAGE DE VERIF D'IDENTITE ==> become-a-driver*/
.verif-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.verif-container-form {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 600px;
  width: 100%;
  text-align: center; 
}


.verif-title {
  font-weight: bold;
  color: #3d3db3;
  margin-bottom: 20px;
  font-size: 1.5rem;
}


.verif-form-label {
  font-weight: bold;
  color: #3d3db3;
  margin-bottom: 8px;
  display: block;
}


.verif-form-control {
  border: 2px solid #3d3db3;
  border-radius: 8px;
  padding: 10px;
}


.verif-btn-submit {
  border-radius: 8px;
  background-color: #3d3db3;
  border: none;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.verif-btn-submit:hover {
  background-color: #2a2a88;
  transform: scale(1.02);
}

            /* STYLE POUR LE FOOTER :*/
.footer {
  background-color: #4B9BEB; /* Arrière plan global, couleur de fond*/
  color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .column {
  flex: 1;
  margin: 0 10px;
}
.footer .column h3 {
  margin-top: 0;
}

.footer .column a {
  color: black;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}
.footer .column a:hover {
  text-decoration: underline;
}
.footer .logo {
  display: flex;
  align-items: center;
}
.footer .logo img {
  margin-right: 10px;
  width: 50px;
}
.footer .newsletter {
  max-width: 300px;
}
.footer .newsletter input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  background-color: #D35757;
  border: 1px solid #000;
  border-radius: 4px;
  color: black;
}
.footer .newsletter input[type="email"]::placeholder {
  color: black;
}
.footer .social {
  display: flex;
  align-items: center;
}
.footer .social a {
  font-size: 24px;
  margin-left: 10px;
}
.footer .newsletter .message {
  margin-top: 10px;
  display: none;
}
.footer .newsletter button {
  background-color: #fff;
  border: none;
  padding: 8px 16px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}


/* Login Page Specific Styles */
.login-container {
  background: rgba(190, 239, 255, 0.7);
  border-radius: 15px;
  overflow: hidden;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
}

/* Left Section */
.info-section {
  background: rgba(190, 239, 255, 0.7);
  padding: 40px;
}

.info-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info-section input[type="text"],
.info-section input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #3d3db3;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.info-section button {
  background: #3d3db3;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.info-section button:hover {
  background: #5a9bd3;
}

/* Right Section (Image) */
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .login-container {
      width: 95%;
  }

  .row {
      flex-direction: column;
  }

  .info-section,
  .image-section {
      width: 100%;
  }
}

/* Page profil */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  
}

/* Image de profil */
.profile-picture {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 20px 0;
}

/* Section rôle (Conducteur/Passager) */
.role-section {
  margin: 20px 0;
  color: #4949FF;
}

/* Section d'informations principales */
.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.info-section p {
  margin: 5px 0;
  
}

/* Section Téléphone / Mail */
.contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  margin: 10px 0;
}

.contact-section p {
  flex: 1;
  text-align: center;
  color: #3d3db3;
}

/* Section Trajets */
.trips-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  max-width: 600px;
  margin-top: 30px;
}

.trips-section p {
  flex: 1;
  text-align: center;
  color:#3d3db3 ;
}

.box {
background-color: white;
border-radius: 15px;
width: 60%;
height: 350px;
display: flex; 
justify-content: center; 
align-items: center; 
padding: 40px; 
}

.backgroundbox {
display: flex; 
flex-direction: column; 
justify-content: center; 
align-items: center; 
background-color: rgba(173, 216, 230, 0.5); 
margin: 0 auto;
width: 100%;
max-width: 1330px;
height: 600px;
border-radius: 20px; 
padding: 5px; 
}

.profil-h3 {
color: #333; 
font-size: 1.5rem; 
margin-bottom: 20px; 
display: flex;
justify-content: center;
}
.highlight {
color: green; 
font-weight: bold; 
}

.actions-section {
  display: flex;
  justify-content: center;
  color: #007BFF;
}

/* Add a traject (AAT) */

.AAT-form-container {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 0 auto; 
}


.AAT-header h1 {
  color: white;
  margin: 0;
  font-size: 28px;
}

.AAT-form {
  margin-top: 20px;
}

.AAT-label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
}

.AAT-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.AAT-button {
  background-color: #4C8BFF;
  color: white;
  padding: 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.AAT-button:hover {
  background-color: #3a7bc2;
}

/* Edit info */

        /* Titre principal */
        .edit-info-event-title {
          text-align: center;
          font-weight: bold;
          margin-bottom: 40px;
          color: #3d3db3;
      }

      /* Style global des inputs */
      .edit-info-event-input {
          border: 2px solid #3d3db3;
          border-radius: 8px;
      }

      /* Section contenant les inputs */
      .edit-info-event-label {
          font-weight: bold;
          color: #3d3db3;
      }

      /* Bouton principal */
      .edit-info-event-btn {
          border-radius: 8px;
          background-color: #3d3db3;
          border: 2px solid #3d3db3;
          color: white;
          font-weight: bold;
          padding: 10px 15px;
          transition: background-color 0.3s ease, transform 0.2s ease;
          width: 100%;
      }

      /* Effet sur le bouton */
      .edit-info-event-btn:hover {
          background-color: #2a2a88;
          transform: scale(1.02);
      }

      /* Marges entre les sections */
      .edit-info-event-section {
          margin-bottom: 40px;
      }